body {
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
  }
.svgapmap{
    background-color: #4242e4;
}

.apmap{
  position: relative;
  width: min-content;
}
  .country {
    fill: rgb(194, 47, 162);
    stroke: black;
    stroke-width: 0.05px;
  }
  
  .slidapmap{

display:inline-block;
  }
  .selectapmap
  {
display:inline-block;
  }
  .country:hover {
    stroke-width: 1px;
  }

  .key{
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(245, 245, 220, 0.582);
    border-radius: 6px;
    position: absolute;
    left: 5px;
    bottom: 10px;

  }


  .gradient-key{
    height: 15px;
    width: 200px;
    background: linear-gradient(to right, rgb(246, 225, 158) 0%, rgb(217, 49, 39) 100%);
    display:inline-block;
  }
/* new */
  .min-value{
    display:inline-block;
  }
  .max-value{
    display:inline-block;
  }

  .zoom{
    position: absolute;
    left: 5px;
    top: 10px;
  }